<app-alert [message]="error" *ngIf="error" (close)="onAcknowledgeError()"></app-alert>

<div *ngIf="loggedIn; else loginActions" style="display: flex; align-items: center;">
    <span style="font-size: .8em;">Logged in with Email: {{ userData.email }} &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; </span>
    <button mat-button class="top-menu-button" (click)="logout()" style="font-size: .9em;">
        <mat-icon matIconPrefix>logout</mat-icon>Logout</button>
</div>

<ng-template #loginActions>
    <div *ngIf="!loginMode; else loginForm" #loginActions>
        <button mat-button class="top-menu-button" (click)="switchToSignUp()" style="font-size: .9em;">
            <mat-icon matIconPrefix>person</mat-icon>Sign Up</button>
        <span>&nbsp;|&nbsp;</span>
        <button mat-button class="top-menu-button" (click)="switchToLogin()" style="font-size: .9em;">
            <mat-icon matIconPrefix>meeting_room</mat-icon>Login</button>
    </div>
</ng-template>

<ng-template #loginForm>
    <button mat-icon-button class="top-menu-button" (click)="goBack()" style="margin-right: 2%;">
        <mat-icon style="font-size: 1.2em;">arrow_back</mat-icon></button>
    <form style="display: flex; align-items: center;" [formGroup]="userAuthForm" (ngSubmit)="onSubmit()">
        <!-- Issue with hint text field still rendering; leading to attaching class to align element vertically 
            https://github.com/angular/components/issues/24980 -->
        <mat-form-field appearance="outline" color="accent" [hideRequiredMarker]="true" class="login-form-button">
            <mat-label for="user-auth-email">Email</mat-label>
            <input matInput
            type="email"
            id="user-auth-email"
            formControlName="email"
            class="form-control"
            required email>
            <mat-icon matIconPrefix style="font-size: 1.2em">email</mat-icon>
            <mat-error *ngIf="userAuthForm.controls['email'].invalid">{{getErrorMessage('email')}}</mat-error>
        </mat-form-field>
        <!-- Same issue here -->
        <mat-form-field  appearance="outline" color="accent" [hideRequiredMarker]="true" class="login-form-button">
            <mat-label for="user-auth-password">Password</mat-label>
            <input matInput
            type="password"
            id="user-auth-password"
            formControlName="password"
            class="form-control"
            required minlength="6">
            <mat-icon matIconPrefix style="font-size: 1.2em">lock</mat-icon>
            <mat-error *ngIf="userAuthForm.controls['password'].invalid">{{getErrorMessage('password')}}</mat-error>
        </mat-form-field>
        <button mat-button type="submit" class="top-menu-button" style="font-size: .9em; margin-right: 3%;">&nbsp;{{ loginMode }}&nbsp;</button>
    </form>
</ng-template>
