.img-responsive {
    max-width: 100%
}

.mat-mdc-card-title {
    font-size: 3em;
    line-height: 1em;
}

.mat-mdc-card-subtitle {
    font-size: 1.4em;
    margin-top: 1.75%;
}

.overview-header {
    font-size: medium;
    /* text-decoration: underline; */
    margin-bottom: 7.5px;
    color: #c2185ccb; 
    font-weight: 700;
}

.tagline {
    font-style: italic;
    color: #888888;
    margin-top: 2%;
}

.mat-divider {
    color: #000000;
}

.first {
    border-top: 1px solid white;
}

.character-text {
    font-style: italic;
    color: #707070;
}
