@import "../../../styles.scss";

.img-responsive {
    max-width: 100%
}

.mat-mdc-card {
    border-radius: 25px;
}

.mat-mdc-card-header {
    border-radius: 25px 25px 0px 0px;
    // background-image: linear-gradient( map-get($primary, 900), #424242);
}

.mat-mdc-card-title {
    font-size: 3em;
    line-height: 1em;
}

.mat-mdc-card-subtitle {
    font-size: 1.4em;
    margin-top: 1.75%;
}

.overview-header {
    font-size: medium;
    /* text-decoration: underline; */
    margin-bottom: 5px;
    color: map-get($primary, 800);
    color: white;
    background-image: linear-gradient(to right, #505050, #303030ab);
    border-radius: 10px;
    padding: 8px;
    font-weight: 700;
}

.overview-header.no-highlight {
    background: transparent;
}

.tagline {
    font-size: 1.2em;
    font-style: italic;
    color: #bdbdbdac;
    margin-top: 2%;
}

.mat-divider {
    color: #000000;
}

.first {
    border-top: 1px solid white;
}

.character-text {
    font-style: italic;
    color: #707070;
}

.movie-actions:not([disabled]) {
    background-color: map-get($primary, 800);
}

.movie-actions:is([disabled]) {
    background-color: map-get($mat-grey, 700);
}
