<app-loading-spinner *ngIf="detailsLoaded; else detailsCard" style="display: flex; margin: auto;"></app-loading-spinner>

<ng-template #detailsCard>
<mat-card style="margin-bottom: 5%;">
    <mat-card-header style="background-image: linear-gradient( #c2185ca4, #424242);">
        <mat-card-title>{{ movieDetails?.title }} {{ movieDetails?.release_date ? '(' + movieDetails?.release_date.substring(0,4) + ')' : '' }}</mat-card-title>
        <mat-card-subtitle class="tagline">{{ movieDetails?.tagline }}</mat-card-subtitle>
        <mat-card-subtitle class="director" style="margin-top: 10px; padding-bottom: 3%;">Directed by {{ director }}</mat-card-subtitle>
    </mat-card-header>
    <div class="row">
        <div class="col-6">
            <mat-card-content>
                <img src="{{ movieDetails?.poster }}" alt="{{ movieDetails?.title }}" class="img-responsive" />
                <div>
                    <p class="overview-header" style="color: white; margin: 5% 3% 3% 0%;">Average user score: {{ rating }} / 10</p>
                    <button mat-raised-button style="background-color: #c2185ca4; margin: 3% 3% 3% 0%;">
                        <mat-icon>create</mat-icon>Leave a Review</button>    
                    <button mat-raised-button style="background-color: #c2185ca4; margin: 3% 0% 3% 0%;" 
                        *ngIf="!onWatchlist; else disabledButton"
                        (click)="addToWatchlist()"><mat-icon>add</mat-icon>Add to Watchlist</button>
                    <ng-template #disabledButton>
                        <button mat-raised-button disabled style="margin: 3% 0% 3% 0%;"
                        matTooltip="Remove from watchlist page">
                        <mat-icon>check</mat-icon>Added to Watchlist</button>
                    </ng-template>
                </div>
            </mat-card-content>
        </div>
        <div class="col-6">
            <mat-card-content>
                <ngb-carousel *ngIf="movieImages" [showNavigationIndicators]="false">
                    <ng-template ngbSlide *ngFor="let image of movieImages">
                        <div>
                            <img src="{{ image }}" alt="Associated film image" style="max-width: 100%; opacity: 70%; border-radius: 5px;"/>
                        </div>
                    </ng-template>
                </ngb-carousel>
                <br />
                <div><p class="overview-header">Overview</p></div>
                <p>{{ movieDetails?.overview }}</p>
                <mat-card-subtitle style="font-style: italic; color: #888888; margin-top: 2%;">
                    Runtime: {{ movieDetails?.runtime }} minutes</mat-card-subtitle>
                <mat-list style="margin-top: 3%">
                    <div><p class="overview-header">Featuring</p></div>
                    <mat-list-item *ngFor="let castMember of movieCrew?.cast.slice(0, 5); let i = index; first as isFirst"
                    [class.first]="isFirst" style="border-bottom: 1px solid white;">{{ castMember.name }} 
                    <span class="character-text">as {{ castMember.character }}</span></mat-list-item>
                </mat-list>
            </mat-card-content>
        </div>
    </div>
</mat-card>
</ng-template>
