.sidenav-container {
  height: 92.5%;
  top: 7.5%;
}

.sidenav {
  width: 200px;
  position: fixed;
  top: 7.5%;
}

.sidenav-content {
  overflow-y: scroll;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
  height: 7.5%;
  z-index: 100;
}
