.sidenav-container {
  height: 91%;
  top: 9%;
}

.sidenav {
  width: 200px;
  position: fixed;
  top: 9%;
}

.sidenav-content {
  overflow-y: scroll;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
  height: 9%;
  z-index: 100;
  box-shadow: 0px 3px 2px #202020;
}

/* .app-title-text {
  display: block; 
  position: absolute; 
  left: 5%;
} */
