<div style="position: absolute; width: inherit;">
    <div *ngIf="displayConfirmationPrompt">
        <app-confirmation-prompt message="{{ displayPromptText }}" 
            confirmPrompt="{{ promptConfirmText }}" denyPrompt="{{ promptDenyText }}"
            (close)="reset()" (confirm)="submitAndRemoveFromWatchlist(true)" (deny)="submitAndRemoveFromWatchlist(false)">
        </app-confirmation-prompt>
    </div>

    <div style="width: 96.5%;">
        <div class="row">
            <div class="col-12" style="display: flex; align-items: center; margin-bottom: 8px;">
                <div *ngIf="newEntry" style="display: flex; align-items: center;">
                    <button mat-icon-button color="grey" (click)="handleCancel()" style="margin-right: 5px;"><mat-icon>keyboard_backspace</mat-icon></button>
                    <p style="font-weight: bold; color:#707070; margin: 0%;">
                        New Review for {{ this.movie.movieDetails.title }}</p>
                </div> 
                <div *ngIf="!newEntry" style="display: flex; align-items: center;">
                    <button mat-icon-button color="grey" (click)="handleCancel()"><mat-icon>keyboard_backspace</mat-icon></button>
                    <p style="font-weight: bold; color:#707070; margin: 0%;">
                        &nbsp;Editing Review for {{ this.movie.movieDetails.title }}</p>
                </div> 
                <span style="flex: 1 1 auto;"></span>   
                <button mat-stroked-button color="grey" (click)="handleCancel()"><mat-icon>remove_red_eye</mat-icon>See All My Reviews</button>
            </div>
        </div>
    
        <div class="row">
            <div class="col-12">
                <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
                    <mat-form-field appearance="outline" color="accent" style="display: block">
                        <mat-label for="reviewText">My Review</mat-label>
                        <textarea matInput class="form-control" formControlName="reviewText" 
                            id="reviewText" class="review-text-area" rows="12" 
                            value="{{ formData?.review.reviewText }}" placeholder="Write your review here..."></textarea>
                    </mat-form-field>
                
                    <div class="form-bottom-row" style="margin-bottom: 2%; display: flex; align-items: baseline;">
                        <mat-form-field appearance="outline" color="accent" style="margin-right: 3%;">
                            <mat-label for="watchDate">Date Watched</mat-label>
                            <input matInput class="form-control" formControlName="watchDate" 
                                id="watchDate" value="{{ formData?.review.watchDate }}" [matDatepicker]="picker"
                                [max]="maxDate" [min]="minDate" required>
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-error>Watch date must be no earlier than release and no later than today</mat-error>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                
                        <mat-form-field appearance="outline" color="accent">
                            <mat-label for="rating">Rating</mat-label>
                            <input matInput
                                value="{{ formData?.review.rating }}"
                                class="form-control"
                                formControlName="rating" 
                                id="rating"
                                min="0"
                                max="10"
                                step=".5"
                                type="number" required>
                            <mat-hint>0 - 10</mat-hint>
                            <mat-error>Rating must be a multiple of .5 from 0 - 10</mat-error>
                        </mat-form-field>
                        <span style="flex: 1 1 auto;"></span>
                        <button mat-raised-button type="submit">
                            <mat-icon>save_alt</mat-icon>Save Review</button>
                        <button mat-raised-button *ngIf="!newEntry" (click)="deleteReview()">
                            <mat-icon>delete</mat-icon>Delete Review</button>
                        <!-- <div class="review-options" style="display: flex; align-content: space-between;">
                        </div> -->
                    </div>  
                </form>
            </div>
        </div>
    </div>


    <!-- <div style="display: flex; align-items: center; margin-bottom: 10px;">
        <span style="flex: 1 1 auto;"></span>
    </div> -->
    
</div>