@import "../../../styles.scss";

.review-text-area {
    resize: none;
    padding: 0px 20px 0px 10px;
}

.ng-star-inserted {
    margin: none;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(45, 45, 45, .5);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(156, 156, 156, 0.5);
}

.form-bottom-row button {
    background-color: map-get($primary, 800);
    margin-right: 1.5%;
}

.form-bottom-row button:last-child {
    margin-right: 0; 
}
