<div class="container">
    <div class="row">
        <div class="col-xs-10">
            <mat-list *ngIf="(watchlistMovies | async).films.length > 0; else noFilms" style="margin-top: 3%">
                <div><p class="overview-header">My Watchlist</p></div>
                <mat-list-item *ngFor="let film of (watchlistMovies | async).films; let i = index" 
                style="border-bottom: 1px solid white;">{{ film.movieDetails.title }} 
                <span class="character-text">{{ film.movieDetails.release_date ? '(' + film.movieDetails.release_date.substring(0,4) + ')' : '' }}</span></mat-list-item>
            </mat-list>
            <ng-template #noFilms>
                <h2>Nubby Beezer</h2>
            </ng-template>
        </div>
    </div>
</div>


