<div class="container">
    <div class="row">
        <div style="margin-bottom: 1%;">
            <button mat-raised-button class="filter-search-button" (click)="showMovies('popular')">Show Most Popular</button>
            <button mat-raised-button class="filter-search-button" (click)="showMovies('top_rated')">Show Top Rated</button>
            <!-- Not sure if I want to include upcoming right now... -->
            <!-- <button mat-raised-button color="primary"  class="filter-search-button" (click)="showMovies('upcoming')">Show Upcoming</button> -->
        </div>
        <div class="col-md-12">
            <form class="search-form unstyled" [formGroup]="search" (ngSubmit)="onSubmit()">
                <mat-form-field color="accent" class="search-input" style="display: block">
                    <mat-label for="searchTerm">Search for a Movie</mat-label>
                    <input matInput
                    class="toolbar-search"
                    type="text"
                    id="searchTerm"
                    formControlName="searchTerm"
                    class="form-control">
                    <mat-icon matIconPrefix style="font-size: 1.2em" (click)="onSubmit()">search</mat-icon>
                </mat-form-field>
            </form>
        </div>
    </div>
    <div *ngIf="searchResults; else infoText" class="row">
        <div class="col-md-4">
            <h4 *ngIf="displaying !== 'Search'; else resultsFoundHeader">Showing {{ displaying }} Movies</h4>
            <ng-template #resultsFoundHeader>
                <h4 *ngIf="numResults === 0">No movies found matching term "{{ submittedSearchTerm }}"</h4>
                <h4 *ngIf="numResults">{{ numResults }} results found</h4>
            </ng-template>
            <hr/>
            <app-movie-results-list *ngFor="let result of searchResults"
                [movieResult]="result">
            </app-movie-results-list>
            <mat-paginator #paginator *ngIf="numResults > 20"
                style="margin-top: 3%; border-radius: 5px;"
                [length]="numResults"
                [pageSize]="20"
                aria-label="Select page"
                (page)="handlePagination($event)">
            </mat-paginator>
            <br />
        </div>
        <div class="col-md-8">
            <app-movie-details *ngIf="movieSelected; else selectMovieText"
                [movie]="movieSelected">
            </app-movie-details>
            <ng-template #selectMovieText>
                <h2>Select a movie from the sidebar!</h2>
            </ng-template>
        </div>
    </div>
    <ng-template #infoText>
        <h2>Please enter a search term to begin.</h2>
    </ng-template>
</div>
