@import "../../styles.scss";

.container {
    padding-top: 2%;
}

/* Remove bootstrap styles */
.form-control {
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: transparent;
}

.mat-mdc-raised-button.filter-search-button {
    margin-right: 1%;
    /* background-color: #c2185c; */
    background-color: map-get($primary, 900);
}

.form-control:-webkit-autofill:focus,
.form-control:-webkit-autofill:active {
    box-shadow: 0 0 0 30px #707070 inset !important;
    -webkit-box-shadow: 0 0 0 30px #707070 inset !important;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.87) !important;
}

.form-control:-webkit-autofill {
    box-shadow: 0 0 0 30px #4a4a4a inset !important;
    -webkit-box-shadow: 0 0 0 30px #4a4a4a inset !important;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.87) !important;
}
