.container {
    padding-top: 2%;
}

/* Remove bootstrap styles */
.form-control {
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: transparent;
}

.form-control:-webkit-autofill:focus,
.form-control:-webkit-autofill:active {
    box-shadow: 0 0 0 30px #707070 inset !important;
    -webkit-box-shadow: 0 0 0 30px #707070 inset !important;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.87) !important;
}

.form-control:-webkit-autofill {
    box-shadow: 0 0 0 30px #4a4a4a inset !important;
    -webkit-box-shadow: 0 0 0 30px #4a4a4a inset !important;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.87) !important;
}
