<div class="container">
    <div class="row">
        <form class="search-form unstyled" [formGroup]="search" (ngSubmit)="onSubmit()">
            <mat-form-field  class="search-input" style="display: block">
                <mat-label for="searchTerm">Search for a Movie</mat-label>
                <input matInput
                class="toolbar-search"
                type="text"
                id="searchTerm"
                formControlName="searchTerm"
                class="form-control">
                <mat-icon matPrefix style="font-size: 1.2em" (click)="onSubmit()">search</mat-icon>
            </mat-form-field>
        </form>
    </div>
    <div *ngIf="searchResults; else infoText" class="row">
        <div class="col-md-4">
            <h4>{{ numResults }} results found</h4>
            <hr/>
            <app-movie-results-list *ngFor="let result of searchResults"
                [movieResult]="result">
            </app-movie-results-list>
            <mat-paginator 
                *ngIf="numResults > 20"
                style="margin-top: 3%;"
                [length]="100"
                [pageSize]="20"
                aria-label="Select page">
            </mat-paginator>
            <br />
        </div>
        <div class="col-md-8">
            <app-movie-details *ngIf="movieSelected; else selectMovieText"
                [movie]="movieSelected">
            </app-movie-details>
            <!-- <router-outlet></router-outlet> -->
            <ng-template #selectMovieText>
                <h2>Select a movie from the sidebar!</h2>
            </ng-template>
        </div>
    </div>
    <ng-template #infoText>
        <h2>Please enter a search term to begin.</h2>
    </ng-template>
</div>

