<div class="container">
    <app-loading-spinner *ngIf="loadingPage; else reviewInfo" style="display: flex; margin: auto;"></app-loading-spinner>

    <ng-template #reviewInfo>
        <div class="row">
            <div *ngIf="apiError; else review">
                <app-alert message="Invalid url. Close to return to the main reviews page." (close)="goBackToReviews()"></app-alert>
            </div>
            
            <ng-template #review>
                <div style="margin-top: 2%; display: flex;">
                    <button mat-raised-button color="primary" (click)="goBackToLastPage()">
                        <mat-icon>keyboard_backspace</mat-icon>Back to Previous Page</button>
                </div>
                <h2 style="margin-top: 1.5%; display: flex; align-items: center;">
                    <span style="color: #707070;">Review for&nbsp;&nbsp;</span> 
                    <span style="font-size: 1.6em;">{{ movie.movieDetails?.title }}</span>
                    <span style="flex: 1 1 auto;"></span>
                    <button mat-raised-button color="primary" (click)="goBackToReviews()">
                        <mat-icon>list</mat-icon>Go To Reviews List</button>
                </h2>

                <div class="col-12">
                    <mat-card style="margin-bottom: 2%;"><mat-card-content>
                        <div class="row">

                            <!-- Movie Info -->
                            <div class="col-4" id="movie-review-poster">
                                <img id="movie-review-poster" 
                                    src="{{ movie.movieDetails?.poster }}" 
                                    alt="Poster for {{ movie.movieDetails?.title }}" 
                                    style="max-width: 100%;"/>
                                <!-- <p>Release Date: {{ movie.movieDetails?.release_date }}</p>
                                <p style="text-align: center;">{{ movie.movieDetails?.overview }}</p> -->
                            </div>

                            <div class="col-8">

                                <p style="color: #707070; font-style: italic;">{{ movie.movieDetails?.overview }}</p>
                                <p>Directed By: {{ getDirector(movie) }} &nbsp;&nbsp; | &nbsp;&nbsp; 
                                Release Date: {{ getReleaseDate(movie) }} &nbsp;&nbsp; | &nbsp;&nbsp;
                                Audience Score: {{ getRating(movie) }} / 10
                                </p>
                                <hr class="divider"/>

                                <div *ngIf="!editMode; else reviewForm">
                                    <div *ngIf="reviews.length > 0; else noReviewsFound">
                                        <div id="previous-reviews-header" style="display: flex; align-items: center;">
                                            <p color="accent" style="margin: 0; font-size: 1.2em; font-weight: bold;">&nbsp;Previous Reviews</p>
                                            <span style="flex: 1 1 auto;"></span>
                                            <button mat-raised-button color="primary" (click)="addReview()">
                                                Add A New Review</button>
                                        </div>

                                        <!-- <hr class="divider" style="margin-top: 10px;"/> -->

                                        <!-- Max-Height is set statically, which isn't desirable... -->
                                        <div class="movie-reviews">
                                            <div class="review" *ngFor="let review of reviews; let i = index; last as isLast">
                                                <div style="display: flex; align-items: center;">
                                                    <p class="review-heading-text">
                                                        Watched: {{ formatDate(review.watchDate) }} &nbsp;&nbsp;|&nbsp;&nbsp; Rating: {{ review.rating }}</p>
                                                    <span style="flex: 1 1 auto;"></span>
                                                    <button mat-stroked-button class="review-action-button" (click)="editReview(review, i)"><mat-icon>edit</mat-icon>Edit Review</button>
                                                    <button mat-stroked-button class="review-action-button" (click)="deleteReview(i)"><mat-icon>delete</mat-icon>Delete Review</button>
                                                </div>
                                                <p style="margin-top: 8px; white-space: pre-wrap;">{{ review.reviewText }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </mat-card-content></mat-card>
                </div>

            </ng-template>

        </div>
    </ng-template>
</div>

<!-- New review -->
<ng-template #reviewForm>
    <app-review-form [movie]="movie" [formData]="reviewData" (formEvent)="handleFormEvent($event)" style="width: inherit;"></app-review-form>
</ng-template>

<!-- If user navigates to a review page manually for a film w/o a review -->
<ng-template #noReviewsFound>
    <div style="padding-top: 10%; margin: auto; text-align: center;">
        <img src="../../assets/images/no-items-found.png" alt="No Items Found" style="opacity: 40%; height: 250px;"/>
        <h1 style="color: #a1a1a1;">No Review Has Been Found For This Film</h1>
        <!-- <button mat-raised-button></button> -->
        <button mat-raised-button style="background-color: #c2185ca4;" (click)="addReview()">Add A Review</button>
    </div>
</ng-template>
